/* Font */

body {
    font-family: 'Nunito', sans-serif;
}


/* */

* {
    overflow-x: hidden;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 736px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-color: white;
}


/* Navbar */

.navbar {
    z-index: 3;
    overflow: hidden;
    width: 100%!important;
    max-width: none!important;
    height: 100%;
    max-height: 70px;
    text-align: center;
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.parrotComunidade {
    position: absolute;
    width: 59px;
    height: 57px;
    left: 81%;
}

.title {
    width: 221px;
    color: #44A5EB;
    position: absolute;
    font-weight: bold;
    font-size: 35px;
    opacity: 1;
    text-align: left;
    left: 5%;
}

.cloudBackPerfil {
    position: absolute;
    top: 435px;
    left: 1px;
}


/* Mid Section */

div.scrollmenu {
    position: absolute;
    top: 116px;
    left: -2px;
    width: 800px;
    height: 550px;
    overflow: auto;
}

div.scrollmenu a {
    display: flex;
    overflow: auto;
    flex: 1;
}

.card {
    left: 56px;
    width: 311px;
    height: 425px;
    border-radius: 20px;
    padding: 0%;
}

.card-img-top {
    width: 311px;
    height: 216px;
    position: absolute;
}

.card-body {
    position: absolute;
    width: 306px;
    height: 186px;
    top: 218px;
    left: 2px;
}

.card-title {
    position: absolute;
    top: 4px;
    left: 3px;
    width: 305px;
    height: 63px;
    font-weight: bold;
}

.card-text {
    position: relative;
    top: 52px;
    width: 307px;
    height: 90px;
    left: 3px;
}

#btn-card1 {
    position: relative;
    top: 142px;
    left: 54px;
    height: 35px;
    width: 198px;
    border-radius: 32px;
    position: absolute;
    background-color: #44A5EB;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border: none;
    padding-left: 6px;
    padding-top: 3px;
    box-shadow: 4px 4px 2px rgb(50 50 50 / 50%);
}


/* Menubar */

#menubar {
    background-color: transparent;
    box-shadow: none;
}

.menubarMain {
    width: 278px;
    height: 52px;
    background: #F9F9F9;
    opacity: 1;
    position: absolute;
    left: 21px;
    border-radius: 32px;
}

.menubarDenuncia {
    width: 52px;
    height: 52px;
    background: #F9F9F9;
    opacity: 1;
    position: absolute;
    left: 334px;
    border-radius: 32px;
}

.homeIcon {
    width: 50px;
    height: 50px;
}

.homeIconButton {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 30px;
}

.puzzleIcon {
    width: 50px;
    height: 50px;
}

.puzzleIconButton {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 114px;
}

.personIcon {
    width: 50px;
    height: 50px;
}

.personIconButton {
    position: absolute;
    background-color: transparent;
    border: none;
    left: 198px;
}

.denunciaIcon {
    width: 35px;
    height: 35px;
}

.denunciaIconButton {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 7px;
    left: 0px;
}