/* Font */

body {
    font-family: 'Nunito', sans-serif;
}


/*  */

* {
    overflow-x: hidden;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 736px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
    background-color: white;
}

.backBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3%;
    left: 3%;
    z-index: 5;
}

.criarContaText {
    width: 141px;
    color: rgba(132, 132, 132, 1);
    position: absolute;
    top: 155px;
    left: 137px;
    font-weight: bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
}

.circuloConfetti {
    width: 108px;
    height: 108px;
    background: rgba(67, 164, 235, 0.10000000149011612);
    opacity: 1;
    position: relative;
    top: 36px;
    left: 153px;
    border-radius: 50%;
}

.confetti {
    position: absolute;
    width: 75px;
    height: 75px;
    top: 13px;
    left: 21px;
}

#nomeInput {
    width: 319px;
    height: 55px;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    position: absolute;
    top: 227px;
    left: 48px;
    border: 1px solid rgba(92, 174, 249, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    padding: 25px;
}

#emailInput {
    width: 319px;
    height: 55px;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    position: absolute;
    top: 371px;
    left: 48px;
    border: 1px solid rgba(92, 174, 249, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    padding: 25px;
}

#passInput {
    width: 319px;
    height: 55px;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    position: absolute;
    top: 443px;
    left: 48px;
    border: 1px solid rgba(92, 174, 249, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    padding: 25px;
}

#viewText {
    position: absolute;
    top: 462px;
    left: 315px;
    color: #85C1FA;
    font-size: 20px;
}

#confPassInput {
    width: 319px;
    height: 55px;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    position: absolute;
    top: 515px;
    left: 48px;
    border: 1px solid rgba(92, 174, 249, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    padding: 25px;
}

.criarContaBtn {
    height: 7%;
    width: 60%;
    border-radius: 32px;
    position: absolute;
    background-color: #44A5EB;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    border: none;
    top: 85%;
    left: 20%;
    box-shadow: 4px 4px 2px rgb(50 50 50 / 50%);
}

::placeholder {
    width: 54px;
    color: #85C1FA;
    font-weight: bold !important;
    font-size: 20px;
    opacity: 1;
}

#GrauInput {
    width: 319px;
    height: 55px;
    background: rgba(148, 206, 240, 0.18000000715255737);
    opacity: 1;
    position: absolute;
    top: 299px;
    left: 48px;
    border: 1px solid rgba(92, 174, 249, 1);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    overflow: hidden;
    padding-left: 25px;
}