/* Font */

body {
    font-family: 'Nunito', sans-serif;
}


/* Body */

* {
    overflow-x: hidden;
    padding: 0px !important;
    margin: 0px !important;
}

.screen {
    width: 414px;
    height: 736px;
    position: absolute;
    overflow: hidden;
    z-index: -1;
}

.backImg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#text {
    color: white;
    position: relative;
    text-align: center;
    top: 2%;
    font-weight: Bolder;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    opacity: 1;
    z-index: 1;
}

.backBtn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 3%;
    left: 3%;
    z-index: 5;
}

.phone {
    position: absolute;
    left: 34%;
    top: 10%;
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 90px;
    border: none;
}

#contacto1 {
    position: absolute;
    width: 247px;
    height: 55px;
    left: 25%;
    top: 37%;
    background: #FFFFFF;
    border: 3px solid #5DAEFA;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#contacto2 {
    position: absolute;
    width: 247px;
    height: 55px;
    left: 25%;
    top: 47%;
    background: #FFFFFF;
    border: 3px solid #5DAEFA;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#contacto3 {
    position: absolute;
    width: 247px;
    height: 55px;
    left: 25%;
    top: 57%;
    background: #FFFFFF;
    border: 3px solid #5DAEFA;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 48px;
}

#telefone {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 37.5%;
    left: 10%;
    z-index: 5;
}

#email {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 47.5%;
    left: 10%;
    z-index: 5;
}

#morada {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 57.5%;
    left: 10%;
    z-index: 5;
}